body
    background-color: $background
    font-family: "Rubik", "Noto Sans SC", "Helvetica Neue", Helvetica, Arial,
    "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei",
    sans-serif;
    font-size:18px
    .container
        max-width: 640px
        margin:0 auto
        margin-top:2rem
