header
    display: flex;
    align-items: center;
    justify-content: space-between;
    .site-info
        a
            text-decoration: none
        h1
            color:$primary
            font-size: 3rem
            margin:0
        p
            font-size: 1.2rem
            margin 0
            font-weight: 700
            color:$primary
    .site-nav
        background-color: white
        border-radius: 0.5rem
        padding:20px 30px
        .nav
            
            text-decoration: none
            color:$dark-666
            font-weight: 700
            font-size:1.2rem
        .nav:hover
            color:$primary
