.posts-list-container 
    .post-item 
        display: block;
        background-color: white;
        margin: 20px 0;
        // padding: 20;
        border-radius: 0.5rem;
        .post-item-info
            padding:20px
            .post-item-title
                font-weight: 700;
                font-size: 1.5em;
                color: $dark-666;
                &:hover
                    color:$primary
        .post-item-cover-slice
            border-radius: 0.5rem 0.5rem 0rem 0rem
            overflow:hidden
            .post-item-cover
                border-radius: 0.5rem 0.5rem 0rem 0rem
                height: 400px
                background-size: cover
                background-position: center
                background-repeat: no-repeat
                transition: all 0.2s
                &:hover
                    transform: scale(1.1)
                img
                    width: 100%
                    height: 500px