footer 
    span#id Powered by 
        a(href="https://hexo.io/zh-cn/") Hexo 
        | & Make By 
        a(href="https://www.jipai.moe") JiPai 
        |with Ego
    span#copyright ©2021「JiPai·Store」製作委員会