header
    .site-info
        a(href='/')
            h1=config.title
        //- p=config.subtitle
    .site-nav
        -var pages=site.pages.data
        each page in pages
            a(href=url_for(page.path)).nav=page.title
        a(href="https://www.jipai.moe/about").nav ABOUT