-var prevIcon='<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="15 18 9 12 15 6"></polyline></svg>'
-var nextIcon='<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="9 18 15 12 9 6"></polyline></svg>'
-var prevBtnElement=`<span class="pagination-btn">${prevIcon}</span>`
-var nextBtnElement=`<span class="pagination-btn">${nextIcon}</span>`
-var params={prev_text:prevBtnElement ,next_text: nextBtnElement,escape:false}
.pagination!=paginator(params)